#content p{text-align: center; font-family: 'Nanum Myeongjo', serif;color: #024862; line-height: 1.8em}
#content .content_area>ul li{width: 80%; margin: 5% 12%}
#content ul li figure{width: 94%; border: 2px solid #ddd; padding: 5% 10%; overflow: hidden; border-radius: 2%; box-sizing: border-box}
#content ul li figure img{width: 60%; margin: 5% 20%}
#content ul li figcaption{text-align: center}
#content ul li figcaption h4{font-size: 1.5em;font-family: 'Nanum Gothic', sans-serif}
#content ul li figcaption p{margin: 3% auto}

#content .more{color: #00adef; display: block;font-family: 'Roboto', sans-serif}
#content ul li .modal{transition: all .8s; transform: scaleY(0); position: fixed; left: 50%; top: 50%; z-index: 105; background: #fff; width: 90%; height: 350px; margin-left: -45%; margin-top: -175px; transform: scaleY(0); overflow: auto; border-radius: 2%; border: 4px solid #00adef}
#content ul li .modal div{padding:2%; width: 94%; position: relative}
#content ul li .modal div table{border: 1px solid #ddd; margin: 10% auto}
#content ul li .modal div thead{border-bottom: 2px solid #00adef; text-align: center}
#content ul li .modal div thead th:nth-of-type(1){width: 40%}
#content ul li .modal div thead th:nth-of-type(2){width: 59%}
#content ul li .modal table th{font-size: 1.1em}
#content ul li .modal table th,#content ul li .modal table td{padding: 2%; line-height: 1.25em; text-align: center}
#content ul li .modal table tbody{padding:4% 0}
#content ul li .modal div tfoot{border-top: 1px solid #eee}
#content ul li .modal div tfoot td li{font-size: .8em}

#content ul li .modal .close{position: absolute; right: 0; top: 0; font-size:2em}
#content .modal_box{position: fixed; left: 0; top: 0; background: rgba(0,0,0,.5);width: 100%; height: 100%;z-index: 100; display: none}