#content {width: 1200px; margin: 0 auto}


/*본문*/
#content .content_area{}
#content .content_area h3{font-family: 'Roboto', sans-serif; font-size: 2.5em; text-align: center; margin: 50px 0}
#content .content_area .korea{overflow: hidden; clear: both; margin-bottom: 150px}
#content .korea img{border-radius: 10px}
#content .korea>img:nth-of-type(1){position: relative; left:250px; top: 0; margin-bottom: 50px}
#content .korea>img:nth-of-type(2){margin: 50px 100px}
#content .korea>p{margin-bottom: 20px; line-height: 2em}
#content .korea>p:nth-of-type(2){margin-bottom: 100px}

#content .korea .event_slide_menu{display: block;width: 800px; height: 300px; overflow: hidden; position: relative; left:50%; margin-left: -400px; margin-bottom: 100px; border-radius: 15px 0}

#content .korea li{float: left;width: 500px; height: 300px; position: absolute}

#content .korea .event_slide_menu .img01{left: 0; top: 0; background: url(../images/content2/edu.jpg) no-repeat}
#content .korea .event_slide_menu .img02{left: 500px; top: 0;background: url(../images/content2/qua.jpg) no-repeat}
#content .korea .event_slide_menu .img03{left: 600px; top: 0;background: url(../images/content2/eme.jpg) no-repeat}
#content .korea .event_slide_menu .img04{left: 700px; top: 0;background: url(../images/content2/equ.jpg) no-repeat}
#content .korea figure{position: relative}
#content .korea figure img{width: 50px; height: 50px;position: absolute; left: 25px; top: 125px; z-index: 1}
#content .korea .event_slide_menu figcaption{background: rgba(0,0,0,.5); width: 100%; height: 300px; position: absolute;overflow: hidden; left: 0; top: 0; transition: all .8s}
#content .korea .event_slide_menu figcaption dl{width: 50%;color: #fff; text-align: justify; position: absolute; right: 80px; top: 60px; transition: all .8s}
#content .korea figcaption dt{font-size: 1.375em; font-family: 'Nanum Gothic', sans-serif; font-weight: bold; padding: 10px 0; position: relative}
#content .korea figcaption dd{line-height: 1.5em}
#content .korea .event_slide_menu span{display: block;width: 100px; height: 300px; display: block; cursor: pointer; position: relative; left: 0; top:0; opacity: 0 }


#content .korea p:last-child{overflow: hidden}
#content .korea p:last-child>span{font-size: 0.85em; margin: 0 20px 0 100px;position: relative; display: block; float: left; width: 120px}
#content .korea p:last-child>span::before{content: ''; width: 5px; height: 5px; border: 2px solid #00adef ; border-radius: 50%; position: absolute; left: -15px; top: 10px}

